/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
  margin-top: 20px;
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
}

p {
  line-height: 28px;
}

h1,h2,h3,h4 {
  font-family: 'Droid Serif', serif;
  color: #423F37;
}

h1 { 
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 0.4em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

a {
  color: #06A;
  text-decoration: none;
}

a:hover {
  color: #06A;
  text-decoration: underline;
  cursor: pointer;
}

a:visited { 
  color: #607890; 
}

#posts a {
  padding-bottom: 15px;
}

#posts {
  font-size: 20px;
}

#posts span {
  color: #999;
  text-align: right;
}

.sidebar > section {
  position: fixed;
  width: inherit;
}

.hidden {
  display: none; 
}

.gray {
  color: #999;
}

#article-content pre {
  font-family: monospace;

  padding: 1em;
  margin: 1em 0px;
}

#article-content code {
  padding: 0 .2em;
}

#article-content pre code {
  border: none;
}

.gist {
  font-size: 12px;
}

.sidebar p {
  margin-bottom: 10px;
}

img {
  max-width: 70%;
  max-height: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

article ul {
  margin-left: 20px;
}

article ul li {
	list-style: disc outside;
}

article ul li li {
	list-style: circle outside;
}

article ul li li li {
	list-style: square outside;
}

#social li {
  display: inline-block;
  font-size: 22px;
  overflow: hidden;
}

#social a, #social a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#social a:hover, #social a:visited:hover {
  color: #423F37;
  text-decoration: none;
}

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 12px;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

.footnotes {
  font-size: 12px;
}

.footnotes p {
  margin-bottom: 0;
}

.footnotes a[rel=reference]{
  padding-left: 5px;
}

.intro {
  font-size: 1.25em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

#follow {
  font-style: italic;
}

#avatar {
  background-image: url('http://www.gravatar.com/avatar/cfcd2c33fd69fd8ab1a897a40bda4144.png?s=400');
  background-size: cover;
  height: 134px;
  width: 134px;
  display: block;
  border-radius: 50%;
  margin-bottom: 8px;
  border: 2px solid #999;
  opacity: 0.8;
  -webkit-transition:all 500ms ease-in;
  -moz-transition:all 500ms ease-in;
  -o-transition:all 500ms ease-in;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/