.highlight { background-color: #121E31; color: #FFFFFF; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #428BDD; font-style: italic; }
.highlight .cp { color: #428BDD; font-style: italic; }
.highlight .c1 { color: #428BDD; font-style: italic; }
.highlight .cs { color: #428BDD; font-style: italic; }
.highlight .cm { color: #428BDD; font-style: italic; }
.highlight .m { color: #EDDD3D; }
.highlight .mf { color: #EDDD3D; }
.highlight .mi { color: #EDDD3D; }
.highlight .mo { color: #EDDD3D; }
.highlight .se { color: #B53B3C; }
.highlight .kc { color: #B53B3C; }
.highlight .k { color: #F8BB00; }
.highlight .kn { color: #F8BB00; }
.highlight .sc { color: #7CFF3C; }
.highlight .si { color: #CACACA; }
.highlight .sr { color: #CA4344; }
.highlight .s1 { color: #7CFF3C; }
.highlight .bp { color: #8AA6C1; }
.highlight .nc { font-style: italic; }
.highlight .no { color: #8AA6C1; }
.highlight .nf { color: #B43D3D; }
.highlight .nt { color: #F8BB00; }
.highlight .nv { color: #8AA6C1; }
.highlight .ow { color: #8AA6C1; }
.highlight .o { color: #8AA6C1; }
.highlight .n { color: #FFFFFF; }
.highlight .nl { color: #FFFFFF; }
.highlight .nn { color: #FFFFFF; }
.highlight .nx { color: #FFFFFF; }
.highlight .bp { color: #8AA6C1; }
.highlight .p { color: #FFFFFF; }