---
layout: default
blog: true
---

<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ page.date | date: "%b %Y" }}
  {% if page.updated_at %}
      revised {{ page.updated_at }}
  {% endif %}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ content }}
  </div>

  {% if page.allow_comments != false %}
      <div id="disqus_thread" name="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'efrenfuentes';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Por favor active JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios por Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comentarios por <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</article>

